$yellow: #ff3;
$gray: #eceeef;
$medium-font: 16px;
$huge-font: 50px;

.navbar {
    font-size: $medium-font;

    .navbar-nav {
       display: flex;
    }
}

.jumbotron {
    .lead {
        
    }
}


#footer {
    .nav {
        background-color: $gray;
    }

    .nav-item {
        padding: 20px 20px;
    }
}